.filter
	background-color: $grayLight
	border: 1px solid darken($grayLight, 5%)
	padding: 15px

	margin-bottom: 20px

.filter_filds_wrap
	display: flex
	justify-content: space-between
.filter_price_min,
.filter_price_max
	width: 88px
	height: 30px
	border: 1px solid darken($grayLight, 4%)
	border-radius: 5px
	padding-left: 5px
	padding-right: 5px
	overflow: hidden
	font-size: .9em
	color: lighten($textcolor, 35%)
	margin-bottom: 15px
.filter_range_wrap

.filter_range_inner
	display: flex
	justify-content: space-between
.filter_range_min,
.filter_range_max
	font-size: .9em
	color: lighten($textcolor, 35%)



.range
	width: 100%
	margin-bottom: 30px

	height: 10px

	border-radius: 4px
	background-color: #ddd


.range__button_1, .range__button_2
	position: absolute
	top: 50%

	width: 20px
	height: 20px

	cursor: move
	transform: translateY(-50%)

	border: none
	border-radius: 50%
	background-color: #999

.range__between
	position: absolute
	height: 5px
	width: 0px
	margin-top: 3px
	border: none
	background-color: #559933
