.modal_cart
	//min-width: 320px
	max-width: 400px
	background-color: #fff
	//padding: 15px 15px

	display: none

	//border: 1px solid #777

.modal_cart_img
	max-width: 100px
	height: auto
	display: block
	margin: 0 auto 20px auto

.modal_cart_title
	text-align: center
	font-weight: 600
	line-height: 1.3
.modal_cart_p
	text-align: center
	color: #198754
	margin-bottom: 20px
.modal_cart_btn_wrap
	display: flex
	justify-content: center
	margin: 0 auto

.modal_btn
	font-weight: 400
	cursor: pointer
	font-size: 1em
	line-height: 16px
	text-transform: none
	color: $white
	text-decoration: none
	border-radius: 2px
	text-align: center
	padding: 11px 14px 13px
	display: inline-block
	border: none
	outline: none
	width: auto
	vertical-align: middle
	text-shadow: 1px 1px 1px rgba(43,56,62,.1)
	box-shadow: 0 1px 3px rgba(0,0,0,0.2)
	transition: background-color 70ms ease-out, box-shadow 70ms ease-out
	&:hover,
	&:focus
		color: $white
		text-decoration: none

.modal_btn.cart
	background: $accent
	width: 162px
	margin-right: 10px
	&:hover,
	&:focus
		background: darken($accent, 5%)

.modal_btn.back
	background: $opposite
	width: 162px
	&:hover,
	&:focus
		background: darken($opposite, 5%)


.modal_fast
	//display: none
	max-width: 400px
	background-color: #fff

	//padding: 15px 15px
	border: 1px solid #777
.modal_fast_header
	padding: 10px 15px
	border-bottom: 1px solid darken($grayLight, 5%)
	h3
		margin-bottom: 0
		color: $new

.modal_fast_info
	padding: 15px
	line-height: 1.3
.modal_fast_title
	padding: 0 15px
	line-height: 1.3

.modal_fast_prise
	padding: 0 15px
	font-size: 1.2em
	font-weight: 600
.modal_fast_form
.modal_counter__wrap
.modal_counter__btn
.modal_counter_value
.modal_counter__btn
.form_mw
.form_ml.compulsory
.form_mi
.form_mw
.form_ml
.form_mi
.form_mw
.form_ml
.form_mt
.modal_fast_persondata