@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon.eot?udcj6d');
  src:  url('/fonts/icomoon.eot?udcj6d#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?udcj6d') format('truetype'),
    url('/fonts/icomoon.woff?udcj6d') format('woff'),
    url('/fonts/icomoon.svg?udcj6d#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-down:before {
  content: "\e90c";
}
.icon-up:before {
  content: "\e910";
}
.icon-wallet:before {
  content: "\e90f";
}
.icon-checkmark:before {
  content: "\e903";
}
.icon-cheveron-down:before {
  content: "\e904";
}
.icon-cheveron-left:before {
  content: "\e906";
}
.icon-cheveron-right:before {
  content: "\e907";
}
.icon-cheveron-up:before {
  content: "\e908";
}
.icon-close:before {
  content: "\e909";
}
.icon-location:before {
  content: "\e90a";
}
.icon-menu1:before {
  content: "\e90b";
}
.icon-shopping-cart1:before {
  content: "\e901";
}
.icon-shopping-cart:before {
  content: "\e900";
}
.icon-home:before {
  content: "\e902";
}
.icon-pencil:before {
  content: "\e905";
}
.icon-image:before {
  content: "\e90d";
}
.icon-images:before {
  content: "\e90e";
}
.icon-cart:before {
  content: "\e93a";
}
.icon-phone:before {
  content: "\e942";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-location2:before {
  content: "\e948";
}
.icon-clock:before {
  content: "\e94e";
}
.icon-user:before {
  content: "\e971";
}
.icon-users:before {
  content: "\e972";
}
.icon-search:before {
  content: "\e986";
}
.icon-lock:before {
  content: "\e98f";
}
.icon-unlocked:before {
  content: "\e990";
}
.icon-list:before {
  content: "\e9ba";
}
.icon-list2:before {
  content: "\e9bb";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-arrow-up:before {
  content: "\ea32";
}
.icon-arrow-right:before {
  content: "\ea34";
}
.icon-arrow-down:before {
  content: "\ea36";
}
.icon-arrow-left:before {
  content: "\ea38";
}
.icon-arrow-up2:before {
  content: "\ea3a";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
.icon-arrow-down2:before {
  content: "\ea3e";
}
.icon-arrow-left2:before {
  content: "\ea40";
}
.icon-circle-up:before {
  content: "\ea41";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-down:before {
  content: "\ea43";
}
.icon-circle-left:before {
  content: "\ea44";
}